/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: 'http://www8dev.vancouver.wsu.edu/themes/bootstrap/assets/fonts/bootstrap/';

// SCAFFOLDING

$text-color: #595959;

// FONT

$font-family-sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-size-base: 17px;

// COLORS

$brand-primary: #981e32;

// GRID

$grid-gutter-width: 0;

// COMPONENTS

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

// TABLES

$table-cell-padding: 10px;
$table-border-color: #eee;

// TYPE

$blockquote-font-size: 17px;
