// WSU VANCOUVER SUBTHEME MAIN STYLESHEET

/* Variables */

$red: #c60c30;
$darkgray: #262b2d;
$lightestgray: #f8f8f8;
$lightgray: #e7e9ea;
$white: #fff;

/* Navbar colors */

$bgDefault: #981e32;
$bgHighlight: #981e32;
$colDefault: #fff;
$colHighlight: #fff;
$dropDown: false;

/* Navbar */

.dropdown-menu {
  box-shadow: none;
  font-size: 15px;
}

.navbar-default {
  padding-left: 10px;
  font-size: 15px;
  border: 0;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
} /* Credit: https://work.smarchal.com/twbscolor/ */

.nav > li > a:hover {
  text-decoration: underline;
}

/* Navbar mobile menu */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-top: 0;
  border-bottom: 0;
  box-shadow: none;
}

/* Search */

#bs-header-navbar-collapse-1 > form > div > input,
#bs-header-navbar-collapse-1 > form > button {
  border: 0;
  box-shadow: none;
  font-size: 15px;
}

#bs-header-navbar-collapse-1 > form > div > input {
  margin-left: 15px;
}

#bs-header-navbar-collapse-1 > form > button {
  margin-right: 30px;
  background-color: $brand-primary;
  color: $white;
}

@media (max-width: 767px) {
  #bs-header-navbar-collapse-1 > form > div > input {
    width: 82%;
  }
  #bs-header-navbar-collapse-1 > form > button {
    float: right;
    margin-top: -40px;
  }
}

/* Logo */

.header-logo .col-md-12 {
  background-color: rgba(158, 158, 158, 0.1);
  margin-top: -25px;
  padding: 15px;
}

.header-logo .col-md-12 img.primary-logo {
  max-width: 250px;
}

@media (max-width: 767px) {
  .header-logo .col-md-12 {
    display: none;
  }
}

/* Main content */

.region.region-content {
  margin-top: 30px;
}

.region.region-content a {
  text-decoration: underline;
}

.page-header {
  margin-left: 20px;
  margin-right: 20px;
}

.breadcrumb {
  background-color: #fff;
  margin-left: 10px;
}

@media (max-width: 767px) {
  body > div.main-container.container-fluid.js-quickedit-main-content > div {
    margin-top: -30px;
  }
}

.well {
  margin-top: 25px;
  border: 0;
  box-shadow: none;
}

h2.block-title {
  margin-top: 5px;
}

#user-login-form,
#collapseExample > div,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div p,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h2,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h3,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h4,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h5,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h6,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div ul,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div ol,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div table,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div blockquote,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div code
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div iframe,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > nav > ul,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > div > div {
  margin: 20px;
} /* Add margin back to counteract edge to edge Bootstrap containers */

body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div table {
  max-width: 92%;
} /* Stop tables from overflowing into sidebar region */

/* Footer */

.footer-sitemap {
  margin-top: 30px;
}

.footer-sitemap .col-md-3 {
  background-color: rgba(158, 158, 158, 0.1);
  margin-bottom: 0;
  padding: 30px 15px 15px 5px;
  font-size: 14px;
  li, li a {
    color: #333;
    list-style-type: none;
    padding-bottom: 8px;
  }
  li.sitemap-section {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.footer-copyright .col-md-6 {
  background-color: $brand-primary;
  margin-bottom: 0;
  padding: 15px 5px 5px 5px;
  font-size: 14px;
  li, li a {
    color: $white;
    list-style-type: none;
    padding: 0 8px 8px 0;
    display: inline;
  }
  li.copyright-section {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
