// WSU VANCOUVER SUBTHEME STYLES

/* Secondary brand colors */

$red: #c60c30;
$dark-gray: #333333;
$lightest-gray: #f8f8f8;
$light-gray: #e7e9ea;
$white: #fff;

/* navbar TWBSColor */

$bgDefault: #981e32;
$bgHighlight: #981e32;
$colDefault: #fff;
$colHighlight: #fff;
$dropDown: false;

/* HTML */

h1, h2, h3, h5, h5, h6, th, strong, li {
  color: $dark-gray;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  .crimson {
    color: $brand-primary;
  }
  .red {
    color: $red;
  }
}

table {
  padding-bottom: 1em;
}

table th {
  background: $lightest-gray;
}

hr {
  margin: 40px;
}

caption {
  color: $text-color;
}

/* BOOTSTRAP - LIBRARY - navbar */

.dropdown-menu {
  border: none;
  font-size: 15px;
}

.dropdown-menu > li {
  > a:hover, > a:focus {
  background-color: $dark-gray;
  color: $white;
  }
}

.navbar-default {
  padding-left: 10px;
  font-size: 15px;
  border: 0;
}

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767.98px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    text-decoration: underline;
  }
} /* Credit: https://work.smarchal.com/twbscolor/ */

#navbar {
  background-color: $white;
  border: none;
}

img.horizontal-logo {
  display: none;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: underline;
}

.menu-bar {
  font-size: 10px;
  color: $white;
}

body > nav > div.navbar-header > button {
  margin-bottom: -10px;
}

.navbar-toggle .icon-bar {
  border-radius: 0;
}

.navbar-toggle {
  margin-right: 5px;
  padding-left: 2em;
}

#bs-primary-navbar-collapse-1 > div > form {
  margin-right: 20px;
}

#bs-primary-navbar-collapse-1 .input-group {
  width: 100%;
  padding-left: 25px;
}

#bs-primary-navbar-collapse-1 > div > form > div > input {
  border: none;
  font-size: 15px;
  background: $brand-primary;
  color: $white;
  border-top: 0;
  border-bottom: 1px solid $white;
  box-shadow: none;
}

#bs-primary-navbar-collapse-1 {
  ::-webkit-input-placeholder {
  color: $white;
  }
  :-ms-input-placeholder {
  color: $white;
  }
  ::-moz-placeholder {
  color: $white;
  opacity: 1;
  }
  :-moz-placeholder {
  color: $white;
  opacity: 1;
  }
}

#bs-primary-navbar-collapse-1 > div > form > div > div > button {
  border: none;
  color: $white;
  background: $brand-primary;
}

#bs-primary-navbar-collapse-1 > div > form > div > div > button:hover,
#bs-primary-navbar-collapse-1 > div > form > div > div > button:focus {
  background: none;
}

/* BOOTSTRAP - LIBRARY - navbar collapsed, mobile */

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-top: 0;
  border-bottom: 0;
  box-shadow: none;
}

@media (max-width: 767.98px) {
  img.horizontal-logo {
    margin-top: 5px;
    height: 40px;
    display: block;
  }
  #bs-primary-navbar-collapse-1 {
    font-size: 1.5em;
    padding-bottom: 1em;
  }
  #bs-primary-navbar-collapse-1 > div > form {
    margin: 1.25em 15px 0 15px;
  }
  #bs-primary-navbar-collapse-1 > ul > li:nth-child(1) > a {
    margin-top: 1em;
  }
  #bs-primary-navbar-collapse-1 > div > form > div > div > button:hover,
  #bs-primary-navbar-collapse-1 > div > form > div > div > button:focus {
    text-decoration: underline;
  }
  #bs-primary-navbar-collapse-1 > ul > li.dropdown.open > ul > li > a {
    font-size: 1.25em;
    border-bottom: #85001a 1px solid;
    padding-left: .8em;
    padding-bottom: 1em;
    margin-right: 1em;
  }
  #bs-primary-navbar-collapse-1 > ul > li.dropdown.open > ul > li:nth-child(1) > a {
    margin-top: .25em;
  }
  #bs-primary-navbar-collapse-1 .input-group {
    padding-left: 0;
  }
  .dropdown-menu > li a {
    margin-bottom: .7em;
  }
  .navbar-default .navbar-nav > .open a.dropdown-toggle {
    font-weight: bold;
  }
}

/* HEADER - logo and apply button */

.header-logo .col-md-6 {
  border-bottom: 1px solid $light-gray;
  margin-top: -20px;
  padding: 15px;
  height: 115px;
}

.header-logo .col-md-6 img.primary-logo {
  max-width: 250px;
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
}

.header-logo .col-md-6 a:hover img.primary-logo,
.header-logo .col-md-6 a:focus img.primary-logo {
  filter: grayscale(100%);
}

.header-logo .col-md-6 {
  a.apply-button {
  border: 1px solid $red;
  color: $red;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  margin: 17px 25px 0 0;
  float: right;
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  }
  a.apply-button:hover,
  a.apply-button:focus {
    background: $red;
    border: 1px solid $red;
    color: $white;
    text-decoration: none;
  }
}

@media (max-width: 767.98px) {
  .header-logo .col-md-6 {
    display: none;
  }
}

/* BLOCK REGION - PRIMARY, SECONDARY */

.region-sidebar-first,
.region-sidebar-second {
  margin-top: 55px;
  margin-bottom: 55px;
  nav a {
    color: $gray;
    display: block;
    margin-right: 20px;
    padding: .75em 0 .75em 1px;
    border-bottom: 1px solid $light-gray;
    transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
  }
  nav a:hover,
  nav a:focus {
    color: $brand-primary;
    text-decoration: none;
    padding-left: 10px;
    border-bottom: 1px solid $brand-primary;
  }
  nav ul li {
    list-style-type: none;
    padding: 0;
  }
  nav li a.is-active {
    color: $brand-primary;
    border-color: $brand-primary;
  }
} /* MENUS */

.region-sidebar-second .block-views {
  h2.block-title {
    margin-left: 0;
  }
  .field-content a {
    border-bottom: none;
    text-decoration: underline;
    color: $brand-primary;
  }
  .field-content a:hover {
    color: $text-color;
  }
  .view-content {
    margin-right: 10px;
  }
}

.well {
  padding-left: 0;
  margin-top: 10px;
  border: 0;
  box-shadow: none;
  background-color: transparent;
  ul li, ol li {
    padding-bottom: 5px;
    color: $text-color;
  }
  a {
    text-decoration: underline;
  }
}

.well img {
  max-width: 100%;
}

h2.block-title,
.well img {
  margin-top: 25px;
}

body > div.main-container.container-fluid.js-quickedit-main-content > div > aside:nth-child(2),
body > div.main-container.container-fluid.js-quickedit-main-content > div > aside:nth-child(3) {
  a {
    text-decoration: underline;
  }
}

#block-bootstrap-sass-wsuv-search {
  margin-left: 25px;
}

/* RESPONSIVE MENUS - MODULE - 'Simple expanding' overrides */

.responsive-menus.responsified {
  width: 86%;
  margin-left: 25px;
  margin-top: -3em;
  margin-bottom: -2em;
  background: $lightest-gray;
}

.responsive-menus.responsified span.toggler {
  border-radius: 0;
  box-shadow: none;
  background: $lightest-gray;
  color: $text-color;
  text-align: left;
  font-size: 18px;
  padding: 10px 15px;
}

.responsive-menus.responsified.responsive-toggled span.toggler {
  border-bottom: 0;
}

.responsive-menus.responsified .responsive-menus-simple {
  border-radius: 0;
  box-shadow: none;
  background: $lightest-gray;
  h2 {
    margin-left: 15px;
  }
}

.responsive-menus.responsified .responsive-menus-simple li a {
  color: $text-color;
  text-transform: none;
  padding-left: 15px;
  border-bottom: 1px solid $light-gray;
}

.responsive-menus.responsified .responsive-menus-simple li a:hover {
  color: $brand-primary;
  text-decoration: underline;
}

/* BLOCK REGION - HIGHLIGHTED - system messages */

.region-highlighted .alert {
  margin: 60px 40px 0 25px;
}

/* BLOCK REGION - CONTENT */

.region-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.region-content {
  p + h2, p + h3, p + h4,
  table + h2, table + h3,
  ul + h2, ul + h3, ul + h4,
  ol + h2, ol + h3, ol + h4 {
    margin-top: 2em;
  }
  h2 + table, h3 + table, table + p,
  h2 + ul, h3 + ul, h4 + ul,
  h2 + ol, h3 + ol, h4 + ol {
    margin-top: 1em;
  }
}

.region-content p {
  line-height: 1.6em;
}

.region-content a {
  color: $brand-primary;
  text-decoration: underline;
  transition: all .2s ease;
  -moz-transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.region-content a:hover,
.region-content a:focus {
  color: $dark-gray;
}

.region-content img.float-right {
  float: right;
  width: 50%;
  margin: 0 1.5em 1em 1.5em;
}

.region-content img.float-right-small {
  float: right;
  width: 30%;
  margin: 0 1.5em 1em 1.5em;
}

.region-content img.float-left {
  float: left;
  width: 50%;
  margin: 0 1.5em 1em 0;
}

.region-content img.float-right-left {
  float: left;
  width: 30%;
  margin: 0 1.5em 1em 0;
}

figcaption {
  float: right;
  clear: right;
  display: block;
  width: 50%;
  font-size: .75em;
  margin: 0 1.5em 1em 1.5em;
}

.region-content h1.page-header {
  font-size: 3em;
  border-bottom: none;
}

.region-content h4.label {
  color: $dark-gray;
}

.region-content ul li,
.region-content ol li {
  padding-bottom: 5px;
  color: $text-color;
}

.region-content ol li blockquote {
  margin-top: 30px;
}

.region-content blockquote {
  border-color: $brand-primary;
  margin: 30px 0 30px 28px;
  a strong {
  color: $brand-primary;
  }
  p {
    margin-left: 5px;
  }
}

.region-content button.btn-primary,
.region-content a.btn-primary {
  margin: 10px 10px 10px 0;
  padding: 10px 20px 10px 20px;
  box-shadow: none;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  text-decoration: none;
  color: $brand-primary;
  background-color: $white;
  border: 1px solid $brand-primary;
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
}

.region-content button.btn-primary:hover,
.region-content a.btn-primary:hover,
.region-content button.btn-primary:focus,
.region-content a.btn-primary:focus {
  background-color: $brand-primary;
  color: $white;
  border: 1px solid $brand-primary;
}

.region-content button.btn-default,
.region-content a.btn-default {
  margin: 10px 10px 10px 0;
  padding: 10px 20px 10px 20px;
  box-shadow: none;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  text-decoration: none;
  color: $gray;
  background-color: $white;
  border: 1px solid $gray;
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
}

.region-content button.btn-default:hover,
.region-content a.btn-default:hover,
.region-content button.btn-default:focus,
.region-content a.btn-default:focus {
  background-color: $gray;
  color: $white;
  border: 1px solid $gray;
}

.region-content button.btn-solid,
.region-content a.btn-solid {
  margin: 10px 10px 10px 0;
  padding: 10px 20px 10px 20px;
  box-shadow: none;
  font-weight: bold;
  border-radius: 4px;
  border: 0;
  text-decoration: none;
  color: $white;
  background-color: $brand-primary;
  border: 1px solid $brand-primary;
  transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  box-shadow: 1px 1px black;
}

.region-content button.btn-solid:hover,
.region-content a.btn-solid:hover,
.region-content button.btn-solid:focus,
.region-content a.btn-solid:focus {
  background-color: $white;
  color: $brand-primary;
  border: 1px solid $white;
}

body > div.container-max-width > div.dialog-off-canvas-main-canvas > div > div > section > div.region.region-content > article > div.content > div > p > span.file {
  font-size: 1em;
  font-weight: normal;
}

.btn-success {
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

.table {
  border: 1px solid $light-gray;
  margin-top: 20px;
  margin-bottom: 30px;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: $lightest-gray;
}

.table > tbody > tr > th {
  padding: 15px;
  background: $lightest-gray;
}

.table > tbody > tr > td {
  padding: 15px;
}

.region-content table {
  max-width: 95%;
}

@media (max-width: 767.98px) {
  .region-content table {
    max-width: 88%;
    overflow-x: auto;
  }
}

h1.page-header,
h2, h3, h4, h5, p, table, th, td, tr, hr, blockquote,
ul.local-actions,
ul.tabs--primary,
li.node-readmore,
#user-login-form,
#block-bootstrap-sass-wsuv-help,
.author,
.feed-icons,
.field--name-field-blotter-date,
.field--name-field-blotter-activity,
.field--name-field-blotter-location,
.field--name-field-blotter-resolution,
.field--name-field-event-contact,
.field--name-field-event-cost,
.field--name-field-event-date-time,
.field--name-field-event-location,
.field--name-field-event-parking,
.field--name-field-event-participate,
.field--name-field-event-sponsor,
.field--name-field-event-website,
.field--name-field-exhibit-artist,
.field--name-field-exhibit-dates,
.field--name-field-exhibit-location,
.field--name-field-news-post-date,
.feeds_feed__content,
.region-content form,
.webform-confirmation__back,
.webform-confirmation__message {
  margin-right: 25px;
  margin-left: 25px;
} /* Reset specific class margins to allow full screen layouts */

/* BLOCK REGION - CONTENT - fields and views */

.contextual-region {
  width: 100%;
}

.views-element-container {
  margin-left: 25px;
}

.view-content {
  margin-right: 1em;
}

.view-content .messages--warning {
  padding: 1em 1em 1em 2.5em;
  margin: -3em 0 7em 0;
  background: #fdf8ed 15px 22px url("/core/misc/icons/e29700/warning.svg") no-repeat;
  box-shadow: -8px 0 0 #e09600;
  color: #734c00;
  strong {
    color: #734c00;
  }
} /* Homepage alert - warning */

.view-content .messages--error {
  padding: 1em 1em 1em 2.5em;
  margin: -3em 0 7em 0;
  color: #a51b00;
  background: #fcf4f2 15px 22px url("/core/misc/icons/e32700/error.svg") no-repeat;
  box-shadow: -8px 0 0 #e62600;
  strong {
    color: #a51b00;
  }
} /* Homepage alert - severe */

.view-content .table-responsive {
  margin-top: -1em;
  margin-left: -25px;
  border: none;
}

.view-content .table-responsive th {
  padding-left: 15px;
}

.view-header h2,
.views-row h2,
.views-row h3,
.views-row h4,
.views-element-container .content .field,
.views-element-container .content p,
.views-element-container .content ul,
.views-element-container .content ol {
  margin-left: 0;
}

.view-upcoming-events,
.view-press-releases {
  .view-footer p {
  margin-left: 20px;
  }
}

.field--item {
  color: $text-color;
}

.views-row,
.field--name-body {
  margin-bottom: 1em;
}

.field--name-field-alert-post-date {
  margin-left: 10px;
  margin-top: -1em;
}

.field--name-field-alert-full-message {
  margin-left: -15px;
  p {
    margin-top: 1em;
  }
}

.field--name-field-event-date-time {
  color: $brand-primary;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 1em;
}

.field--name-field-exhibit-artist .field--label,
.field--name-field-exhibit-dates .field--label,
.field--name-field-exhibit-location .field--label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.field--name-field-blotter-date,
.field--name-field-blotter-activity,
.field--name-field-blotter-location,
.field--name-field-blotter-resolution,
.field--name-field-event-contact,
.field--name-field-event-cost,
.field--name-field-event-location,
.field--name-field-event-parking,
.field--name-field-event-participate,
.field--name-field-event-sponsor,
.field--name-field-event-website,
.field--name-field-exhibit-artist,
.field--name-field-exhibit-dates,
.field--name-field-exhibit-location {
  color: $dark-gray;
  margin-bottom: 1em;
}

.field--name-field-event-contact,
.field--name-field-event-website {
  p {
  margin-left: 0;
  }
}

.field--name-field-news-body {
  margin-right: 25px;
}

.field--name-field-news-body ul,
.field--name-field-news-body ol,
.field--item > ul,
.field--item > ol {
  margin-left: 18px;
  margin-right: 25px;
}

.field--name-field-news-post-date {
  margin-bottom: 1em;
  font-weight: bold;
}

.item-list {
  margin-left: -5px;
}

.pager li > a,
.pager li > span {
  border-radius: 4px;
  border-color: $brand-primary;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  font-weight: bold;
}

.pager li > a:hover,
.pager li > a:focus {
  background-color: $brand-primary;
  color: $white;
}

.pager .next > a {
  margin-right: 65px;
}

@media (max-width: 767.98px) {
  .view-content .messages--warning,
  .view-content .messages--error {
    margin: -2em 0 5.5em 0;
  }
}

/* ADMIN UI AND MISC. OVERRIDES */

legend {
  margin: 0;
  padding-top: 1em;
}

#edit-submit {
  margin-left: 0;
}

ul.tabs--primary {
  margin-bottom: 25px;
  li {
    padding-bottom: 0;
  }
}

ol.breadcrumb {
  background-color: #fff;
  padding: 0 25px 0 10px;
  margin-bottom: 10px;
}

.badge-secondary {
  border-radius: 3px;
  background-color: $brand-primary;
  margin-left: 3px;
  margin-bottom: 3px;
}

@media (max-width: 767.98px) {
  body > div.main-container.container-fluid.js-quickedit-main-content > div {
    margin-top: -30px;
  }
  .region-content {
    margin-top: 5px;
  }
}

/* BOOTSTRAP PARAGRAPHS MODULE - full width layouts */

.paragraph__column {
  a {
    color: $brand-primary;
  }
  strong.top-border {
    text-transform: uppercase;
    padding-top: 18px;
    margin: 34px 25px -16px 25px;
    border-top: 10px solid $lightest-gray;
    display: block;
    color: $text-color;
  }
  h2.top-border {
    margin-top: 34px;
    padding-top: 18px;
    border-top: 10px solid $lightest-gray;
  }
  h2.center {
    text-align: center;
    margin-top: .5em;
  }
  h3.social {
    text-align: center;
    margin-top: 1.25em;
  }
  p.statistic {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: $dark-gray;
    padding-top: 16px;
    margin-bottom: 3px;
  }
  p.center, p.last {
    padding-bottom: 2em;
    text-align: center;
  }
  p strong.top-border {
    margin-left: 0;
    margin-bottom: -4em;
  }
  p.social {
    text-align: center;
    padding-bottom: 2.25em;
  }
  p.infographic {
    text-align: center;
    font-size: 4em;
    margin: .375em 0 -.5em 0;
  }
  img.social {
    width: 3em;
    padding: 8px;
  }
  blockquote {
    margin-top: 1.5em;
    border-left: 10px solid $brand-primary;
  }
  table {
    max-width: 90%;
  }
}

.paragraph--color--rgba-grey-slight {
  background-color: $lightest-gray;
}

.paragraph--color--rgba-red-strong {
  background-color: $brand-primary;
  h2, h3, p, p.statistic, strong, blockquote {
    color: $white;
    border-color: $white;
  }
}

.paragraph--type--xeno-hero__image {
  background-color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h2.hero-title {
  text-align: center;
  font-size: 5.5em;
  text-shadow: 1px 1px 1px black;
  padding: .5em;
  margin-top: 0;
  border-top: 0;
}

.paragraph--type--bp-columns {
  margin-top: 2em;
}

.paragraph--type--bp-image {
  margin-top: 2em;
}

.paragraph--type--bp-accordion {
  margin-top: 2em;
  .panel-title {
    font-size: 1em;
  }
  p {
    margin-left: 0;
  }
}

.paragraph--type--bp-tabs {
  margin-top: 2em;
  p {
    margin-left: 15px;
  }
}

@media (max-width: 767.98px) {
  h2.hero-title {
    font-size: 3em;
  }
  .paragraph--type--xeno-hero__image {
    background-attachment: local;
  }
  .paragraph__column table {
    display: block;
    overflow-x: auto;
    border: none;
  }
  .field--type-text-long {
    margin-bottom: 1em;
  }
}

/* BLOCK REGION - CONTENT - webforms */

#edit-actions-submit {
  margin: 20px 20px 20px 0;
}

.region-content form {
  h1, h2, h3, h4, h5, h6, p, blockquote, ul, ol, table, hr {
    margin-left: 0;
    margin-right: 0;
  }
  input, select {
    height: 3em;
  }
  input[type="checkbox"] {
    height: 1em;
  }
  legend {
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: $text-color;
  }
}

form .fieldgroup {
  margin-bottom: 1.5em;
}

form .form-group {
  margin-bottom: 1.5em;
}

form .panel {
  box-shadow: none;
}

form .panel-default {
  border: none;
  padding: none;
}

form .panel-heading {
  border-bottom: none;
  padding: 0;
}

form .panel-title {
  font-size: 1em;
  font-weight: bold;
  background-color: $white;
  color: $text-color;
}

form .webform-email-confirm--wrapper .panel-title,
form .webform-address--wrapper .panel-title {
  display: none;
}

form .panel-body {
  padding: 0;
  border: none;
}

.form-control {
  box-shadow: none;
}

.form-item {
  h2, h3 {
    margin-top: 1.75em;
  }
}

.form-required:after {
  background-repeat: no-repeat;
  background-size: 8px;
  height: 8px;
  width: 8px;
  margin-bottom: 4px;
  margin-left: 2px;
}

.select-wrapper {
  display: block;
  select {
    line-height: 1.5;
  }
}

.webform-confirmation__message {
  h1, h2, h3, p {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .region-content form {
    max-width: 60%;
  }
}

@media (max-width: 991.98px) {
  .region-content form {
    max-width: 80%;
  }
}

@media (max-width: 767.98px) {
  .region-content form {
    max-width: 100%;
  }
}

/* BLOCK REGION - CONTENT - search results */

#search-form {
  margin-right: 25px;
  margin-left: 25px;
}

#edit-basic > div > div.input-group > span > button {
  margin-top: 0;
  padding: 6px 10px 6px 10px;
  border-radius: 0;
}

#edit-keys {
  box-shadow: none;
}

#edit-keys--description,
.search-help-link {
  display: none;
}

div.region.region-content > ol {
  margin-left: 18px;
}

#edit-submit--2 {
  margin-left: 0;
}

/* BLOCK REGION - CONTENT - Google Custom Search results */

#___gcse_0 > div {
  font-family: $font-family-sans-serif;
}

#gsc-iw-id1 {
  height: 50px;
  font-size: 2em;
}

#___gcse_0 > div > div > form {
  margin-left: 1em;
}

#gs_cb50 {
  color: $dark-gray;
  padding: .5em;
}

.gsst_a {
  margin-right: -1em;
}

.gsc-search-button > button {
  background-color: $brand-primary;
  width: 52px;
  height: 52px;
  padding: .5em;
  margin-top: -1px;
}

.gsc-webResult {
  .gsc-result:hover {
  margin-left: -1px;
  margin-bottom: 1px;
  }
}

.gsc-thumbnail-inside {
  margin-top: 2em;
}

.gsc-url-top {
  font-size: 1.25em;
  font-style: italic;
}

.gs-bidi-start-align.gs-snippet {
  font-family: $font-family-sans-serif;
  font-size: 1.25em;
  margin-left: -1em;
}

#___gcse_0 > div > div > div > div.gsc-wrapper > div.gsc-resultsbox-visible > div > div > div.gsc-expansionArea > div:nth-child(9):hover {
  padding-bottom: 7px;
}

/* div.gsc-cursor-box.gs-bidi-start-align {
  margin: 2em 1em 0 2px;
  font-size: 1.25em;
} */

/* SHARE BUTTONS BLOCK */

#atstbx .at-share-btn-elements {
  margin-left: 23px;
  margin-right: 25px;
}

/* FOOTER - sitemap, copyright, contentinfo */

.footer-sitemap {
  border-top: 1px solid $light-gray;
  margin-top: 50px;
}

.footer-sitemap .col-md-3 {
  margin-bottom: 0;
  padding: 30px 15px 15px 5px;
  font-size: 14px;
  height: 345px;
  li, li a {
    color: $dark-gray;
    list-style-type: none;
    margin-bottom: 8px;
  }
  li.sitemap-section {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.footer-copyright .col-md-6 {
  background-color: $lightest-gray;
  margin-bottom: 0;
  padding: 15px 5px 5px 5px;
  font-size: 14px;
  li, li a {
    color: $dark-gray;
    list-style-type: none;
    margin: 0 8px 8px 0;
    display: inline;
  }
  li.copyright-section {
    text-transform: uppercase;
  }
  .glyphicon {
     color: $gray;
     font-size: .85em;
  }
}

@media (max-width: 767.98px) {
  body > div.footer-sitemap > div:nth-child(3),
  body > div.footer-sitemap > div:nth-child(4) {
    display: none;
  }
  .footer-sitemap .col-md-3 {
    height: auto;
  }
  .footer-sitemap .col-md-3 li,
  .footer-copyright .col-md-6 li {
    display: block;
  }
}

/* PRINT */

@media print {
  a.apply-button,
  aside,
  .region-sidebar-first,
  .footer-sitemap,
  .footer-copyright {
    display: none;
  }
}
