// WSU VANCOUVER SUBTHEME MAIN STYLESHEET

/* Variables */

$red: #c60c30;
$darkgray: #262b2d;
$lightestgray: #f8f8f8;
$lightgray: #e7e9ea;
$white: #ffffff;

/* Header */

.header-quicklinks .col-md-12 {
  background-color: $brand-primary;
  padding: 8px;
  font-size: 14px;
}

body > div.header-quicklinks > div:nth-child(1) > div > a {
  color: $white;
  float: right;
  margin-right: 20px;
}

body > div.header-quicklinks > div > div.dropdown.open > ul {
  margin-top: 30px;
}

.dropdown-menu {
  box-shadow: none;
}

@media (max-width: 992px) {
  .header-quicklinks .col-md-12 {
    padding: 10px 0 30px 0;
  }
}

/* Logo */

.header-logo .col-md-12 {
  background-color: rgba(158, 158, 158, 0.1);
}

.header-logo .col-md-12 img.primary-logo {
  margin: 15px 15px 15px 15px;
  max-width: 250px;
}

/* Main content */

.region.region-content {
  margin-top: 30px;
}

.region.region-content a {
  text-decoration: underline;
}

.page-header {
  margin-left: 20px;
  margin-right: 20px;
}

.well {
  margin-top: 25px;
  border: 0;
  box-shadow: none;
}

h2.block-title {
  margin-top: 5px;
}

body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div p,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h2,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h3,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h4,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h5,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div h6,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div ul,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div ol,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div table,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div blockquote,
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div code
body > div.main-container.container-fluid.js-quickedit-main-content > div > section > div.region.region-content > article > div > div iframe {
  margin: 20px;
}

/* Footer */

.footer-sitemap {
  margin-top: 30px;
}

.footer-sitemap .col-md-3 {
  background-color: rgba(158, 158, 158, 0.1);
  margin-bottom: 0;
  padding: 30px 15px 15px 5px;
  font-size: 14px;
  li, li a {
    color: #333;
    list-style-type: none;
    padding-bottom: 8px;
  }
  li.sitemap-section {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.footer-copyright .col-md-6 {
  background-color: $brand-primary;
  margin-bottom: 0;
  padding: 15px 5px 5px 5px;
  font-size: 14px;
  li, li a {
    color: $white;
    list-style-type: none;
    padding: 0 8px 8px 0;
    display: inline;
  }
  li.copyright-section {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
